In [4]:
import pandas as pd
import numpy as np
from pathlib import Path
import json
import re

In [42]:
years = np.arange(2018, 2024)
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
path_base = Path('data')
directories = [path_base / str(year) / month for year in years for month in months]

dfs = []
for dir in directories:
    if dir.exists():
        for file in dir.iterdir():
            if file.is_file() and file.name.startswith('y'):
                df = wrangle(file)
                dfs.append(df)

In [6]:
for place in each_row['Site Name'].unique():
    one_spot = each_row[each_row['Site Name']==place]
    one_spot = one_spot.dropna()

    one_spot = one_spot.to_json(orient = 'records')

    with open("city_outputs/" +place +'.json', "w") as outfile:
        json.dump(one_spot, outfile)

NameError: name 'each_row' is not defined

In [21]:
each_row_year = each_row_year.dropna()
each_row_year['Parameter'] = each_row_year['Parameter'].str.replace(r'^\d+\s?', '', regex=True)
each_row_year =(each_row_year.groupby('Parameter')
    .filter(lambda df: df.shape[0] > 3))
each_row_year[each_row_year['Parameter'] == 'CO PPM']

         Site Name Parameter  Date       Avg
112  Carmel Mt Rch    CO PPM  2018  0.534066
113  Carmel Mt Rch    CO PPM  2019  0.495879
114  Carmel Mt Rch    CO PPM  2020  0.537158
115  Carmel Mt Rch    CO PPM  2021  0.529315
116  Carmel Mt Rch    CO PPM  2022  0.506849
117  Carmel Mt Rch    CO PPM  2023  0.485440
118  Carmel Mt Rch    CO PPM  2024  0.400000
751     San Ysidro    CO PPM  2023  0.685507
752     San Ysidro    CO PPM  2024  0.500000

In [14]:
each_row_year['Parameter']

array(['BCarbon ug/m3', 'OZONE PPM', 'NOX PPM', 'NO2 PPB', 'NO2 PPM',
       'NO PPB', 'NO PPM', 'INTMP °C', 'PM2.5 µg/M3', 'VWDR °',
       'SIGTHETA °', 'VWSP MPH', 'SWSP MPH', 'AMBTEMP °F', 'RELHUM %',
       'PM10 STD', 'CO PPM', 'PRES mmHg', 'SOLAR W/M2', 'UVRAD W/M2',
       'NOY', 'NOY-NO', 'NO Trace', 'SO2 Tr PPB', 'CO Tr PPB', 'RAINFALL'],
      dtype=object)

In [43]:
biggie = pd.concat(dfs)

biggie['Avg'] = biggie['Avg'].replace({'':np.nan, 'M':np.nan, '<':np.nan, 'P':np.nan})
biggie['Avg'] = biggie['Avg'].astype(float)
biggie['Site Name'] = biggie['Site Name'].str.title()

grouped  = biggie.groupby(['Site Name', 'Parameter', 'Date'])['Avg'].mean()
each_row_year = grouped.reset_index()
each_row_year['Parameter'].unique()
each_row_year
# each_row_json = each_row.to_json(orient='records')

# # Write JSON to a file
# with open("everything.json", "w") as outfile:
#     json.dump(each_row_json, outfile)

                Site Name      Parameter  Date        Avg
0    10Th Ave Marine Term  BCarbon ug/m3  2020   1.327982
1    10Th Ave Marine Term  BCarbon ug/m3  2021   0.726906
2    10Th Ave Marine Term  BCarbon ug/m3  2022   0.770712
3    10Th Ave Marine Term  BCarbon ug/m3  2023   0.725647
4    10Th Ave Marine Term  BCarbon ug/m3  2024   1.560000
..                    ...            ...   ...        ...
767            San Ysidro  BCarbon ug/m3  2022   0.971250
768            San Ysidro  BCarbon ug/m3  2023   1.901333
769            San Ysidro  BCarbon ug/m3  2024   2.140000
770            San Ysidro       PM10 STD  2023  45.017582
771            San Ysidro       PM10 STD  2024  30.400000

[772 rows x 4 columns]

In [44]:
biggie[]

,Parameter,Site Name,0,1,2,3,4,5,6,7,...,18,19,20,21,22,23,Avg,Max,Hr. of Max,Date
3,01 OZONE PPM,Alpine,0.049,NaN,NaN,0.047,0.048,0.045,0.043,0.043,...,0.044,0.042,0.042,0.044,0.042,0.046,0.045,0.056,14,2018
4,01 OZONE PPM,Chula Vista,0.002,NaN,NaN,0.002,0.004,0.004,0.002,0.003,...,0.021,0.011,0.003,0.004,0.012,0.016,0.019,0.048,13,2018
5,01 OZONE PPM,Del_Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
6,01 OZONE PPM,Downtown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
7,01 OZONE PPM,El Cajon Les,0.004,NaN,NaN,NaN,0.003,0.003,0.003,0.004,...,0.019,0.009,0.006,0.004,0.003,0.003,0.020,0.052,14,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,PM10 STD,Kearny Mesa,19.800,17.3,17.10,15.000,15.100,11.100,7.900,8.300,...,20.900,19.700,14.800,11.600,11.900,23.600,13.000,23.600,23,2024
103,PM10 STD,Otay Mesa Dvn,21.800,33.7,45.80,31.100,26.900,16.900,17.500,27.600,...,22.200,25.600,20.600,22.800,62.400,31.200,23.700,62.400,22,2024
104,PM10 STD,Pendleton,16.300,16.7,15.30,16.100,14.500,13.500,12.300,12.700,...,37.700,21.900,12.300,12.400,14.500,15.500,17.000,37.700,18,2024
105,PM10 STD,San Ysidro,50.700,55.8,41.80,40.300,35.900,35.200,35.800,24.700,...,34.300,31.700,26.600,26.300,22.100,55.400,30.400,55.800,01,2024
106,RAINFALL,El Cajon Les,0.000,0.0,0.01,0.010,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.010,02,2024

In [41]:
import pandas as pd

# Read the file with custom parsing
file_path = 'data/2018/Apr/8_yesterday_20180402.CSV'
def wrangle(file_path):
    try:
        with open(file_path, 'r', encoding='utf-8') as file:
            lines = file.readlines()
    except UnicodeDecodeError:
        with open(file_path, 'r', encoding='latin-1') as file:
            lines = file.readlines()
    
    # Extract date and irrelevant lines
    date_info = lines.pop(0).strip()
    year = re.search(r'\b\d{4}\b', date_info).group()

    lines.pop(0)
    
    # Initialize data structure
    data = []

    # Parse the remaining lines
    for line in lines:
        split_line = line.strip().split(',')
        if len(split_line) >= 29:  # Ensure there are at least 29 fields
            data.append(split_line[:29])  # Adjust if different number of fields per row

    # Create DataFrame from the parsed data
    columns = [
        'Parameter', 'Site Name', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
        '17', '18', '19', '20', '21', '22', '23', 'Avg', 'Max', 'Hr. of Max'
    ]
    hours = [str(x) for x in np.arange(0,24)]
    df = pd.DataFrame(data, columns=columns)
    df['Date'] =  year
    df = df.iloc[3:]
    df = df.replace('', np.nan)
    df['Avg'] = df['Avg'].replace({'':np.nan,'<':np.nan, 'M':np.nan, 'P':np.nan, '-':np.nan}).astype(float)
    df['Max'] = df['Max'].replace({'':np.nan,'<':np.nan, 'M':np.nan, 'P':np.nan, 'C':np.nan}).astype(float)

    for hour in hours:
        df[hour] = df[hour].replace({'':np.nan,'<':np.nan, 'M':np.nan, 'P':np.nan, 'C':np.nan, '-':np.nan}).astype(float)


    # Forward fill the 'Parameter' column
    df['Parameter'] = df['Parameter'].ffill()
    return df

test= wrangle(file_path)

def highest_8_hour_avg(row):
    max_avg = 0
    for hour in  np.arange(0,17):
        # Extract the hourly values
        values = row.loc[str(hour):str(hour + 7)]
        values = values.dropna()
        # Check if we have at least 8 consecutive hours
        if len(values) >= 6:
            # Calculate the 8-hour average
            avg = np.mean(values)
            max_avg = max(max_avg, avg)
    
    return max_avg

# Sample DataFrame
max_8 = test.apply(highest_8_hour_avg, axis= 1)
test['Max_8'] = max_8
test

,Parameter,Site Name,0,1,2,3,4,5,6,7,...,19,20,21,22,23,Avg,Max,Hr. of Max,Date,Max_8
3,01 OZONE PPM,ALPINE,0.043,0.042,0.042,0.042,0.042,0.044,0.046,0.048,...,0.036,0.035,0.035,0.034,0.034,0.043,0.055,10,2018,0.051875
4,01 OZONE PPM,CHULA VISTA,0.032,0.033,0.034,0.036,0.037,0.039,0.041,0.043,...,0.037,0.035,0.035,0.036,0.036,0.039,0.045,09,2018,0.044250
5,01 OZONE PPM,EL CAJON LES,NaN,NaN,0.028,0.031,0.034,0.037,0.041,0.045,...,0.036,0.036,NaN,NaN,NaN,0.041,0.052,10,2018,0.048750
6,01 OZONE PPM,KEARNY MESA,0.032,0.031,0.032,0.032,0.035,0.037,0.040,0.042,...,0.038,0.037,0.038,0.039,0.040,0.039,0.047,10,2018,0.045000
7,01 OZONE PPM,OTAY MESA DVN,0.029,0.029,0.030,0.032,0.035,0.038,0.040,0.043,...,0.037,0.036,0.036,0.035,0.036,0.038,0.048,10,2018,0.045625
8,01 OZONE PPM,PENDLETON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000,0.000,NaN,2018,0.000000

In [153]:
geo = pd.read_csv("2015_San_Diego_County_Demographics_-_County_Population_by_Age_and_Gender.csv")
geo[['Geography', 'Percent 65+']]

                 Geography  Percent 65+
0           Central Region          9.6
1        Central San Diego         10.3
2                 Mid-City          8.1
3   Southeastern San Diego         10.2
4              East Region         13.3
5                   Alpine         18.5
6                 El Cajon         12.3
7           Harbison Crest         18.6
8                    Jamul         13.1
9                  La Mesa         15.0
10      Laguna-Pine Valley         15.8
11                Lakeside         12.6
12             Lemon Grove         11.8
13         Mountain Empire         15.3
14                  Santee         12.3
15           Spring Valley         13.2
16    North Central Region         12.8
17                 Coastal         17.0
18       Del Mar-Mira Mesa         10.1
19             Kearny Mesa         13.0
20                 Miramar          0.0
21               Peninsula         12.2
22              University         11.9
23    North Coastal Region         12.9
24                Carlsbad         16.8
25               Oceanside         12.3
26               Pendleton          0.1
27            San Dieguito         16.2
28                   Vista         11.0
29     North Inland Region         13.6
30    Anza-Borrego Springs         30.9
31               Escondido         10.8
32               Fallbrook         19.6
33         North San Diego         13.6
34          Palomar-Julian         26.9
35                   Pauma         10.9
36                   Poway         14.1
37                  Ramona         12.0
38              San Marcos         13.8
39           Valley Center         17.6
40            South Region         11.5
41             Chula Vista         13.6
42                Coronado         17.6
43           National City         10.8
44               South Bay         10.4
45              Sweetwater         10.1
46        San Diego County         12.3
47          Elliott-Navajo         15.6

In [50]:
ozones = biggie[biggie['Parameter'] == '01 OZONE PPM']
ozones.loc[:, '8 hour max']=ozones.apply(highest_8_hour_avg, axis = 1)
ozones

C:\Users\banga\AppData\Local\Temp\ipykernel_24428\2761789762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ozones.loc[:, '8 hour max']=ozones.apply(highest_8_hour_avg, axis = 1)

,Parameter,Site Name,0,1,2,3,4,5,6,7,...,19,20,21,22,23,Avg,Max,Hr. of Max,Date,8 hour max
3,01 OZONE PPM,Alpine,0.049,NaN,NaN,0.047,0.048,0.045,0.043,0.043,...,0.042,0.042,0.044,0.042,0.046,0.045,0.056,14,2018,0.049625
4,01 OZONE PPM,Chula Vista,0.002,NaN,NaN,0.002,0.004,0.004,0.002,0.003,...,0.011,0.003,0.004,0.012,0.016,0.019,0.048,13,2018,0.039500
5,01 OZONE PPM,Del_Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.000000
6,01 OZONE PPM,Downtown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.000000
7,01 OZONE PPM,El Cajon Les,0.004,NaN,NaN,NaN,0.003,0.003,0.003,0.004,...,0.009,0.006,0.004,0.003,0.003,0.020,0.052,14,2018,0.042000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,01 OZONE PPM,El Cajon Les,0.005,0.006,NaN,NaN,NaN,0.033,0.024,0.026,...,0.029,0.023,0.023,0.028,0.029,0.029,0.045,10,2019,0.038286
8,01 OZONE PPM,Escondido,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,0.000000
9,01 OZONE PPM,Kearny Mesa,0.029,0.026,NaN,NaN,0.025,0.023,0.005,0.015,...,0.026,0.025,0.031,0.029,0.030,0.029,0.040,09,2019,0.036125
10,01 OZONE PPM,Otay Mesa Dvn,0.028,0.022,NaN,NaN,0.026,0.028,0.030,0.035,...,0.024,0.021,0.019,0.019,0.023,0.027,0.038,09,2019,0.033750
11,01 OZONE PPM,Pendleton,0.028,0.027,NaN,NaN,0.026,0.012,0.010,0.013,...,0.035,0.032,0.032,0.027,0.030,0.029,0.039,14,2019,0.036429

In [62]:
ozones[ozones['8 hour max'] > 0.060].groupby(['Date', 'Site Name']).size()

Date  Site Name
2018  Alpine           101
      Chula Vista        2
      El Cajon Les      27
      Kearny Mesa       13
      Otay Mesa Dvn      8
      Pendleton          3
2019  Alpine             1
      El Cajon Les       1
dtype: int64

In [ ]:
df.merge(geo, left_on='')